{% extends 'main/plantilla.html' %}
{% load static %}
{% block contenido %}   

<div class="row row-cols-1 row-cols-md-2">
    <div class="col mb-4">
      <div class="card">
        <img src="{% static 'main/imagenes/VIENESA-ITALIANA.png'%}" class="card-img-top" alt="..." height="100px">
        <div class="card-body">
          <h5 class="card-title">Comleto italiano</h5>
          <p class="card-text">Pan, Vienesa, tomate, palta , salsa a gusto</p>
        </div>
      </div>
    </div>
    <div class="col mb-4">
      <div class="card">
        <img src="{% static 'main/imagenes/hot-dog-estilo-mexicano.png'%}" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Completo Mexicano</h5>
          <p class="card-text">salchichas de pavo, bolillos, cebolla rebanada en julianas finas, tocino ahumado y picado, palta, mayonesa, aceite vegetal, jugo de limón, chiles serranos </p>
        </div>
      </div>
    </div>
    <div class="col mb-4">
      <div class="card">
        <img src="{% static 'main/imagenes/completoTradi.jpg'%}" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Completo Tradicional</h5>
          <p class="card-text">Completo tradicional con salsa picante(Salsa roja o verde) .</p>
        </div>
      </div>
    </div>
  </div>
  {% endblock contenido %}
