{% load static %}
<!DOCTYPE html>
<html lang="es">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Completos Machine</title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
        <link rel="stylesheet" href="{% static 'main/css/flexboxgrid.css'%}">
        <link rel="stylesheet" href="{% static 'main/css/bootstrap.css'%}">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.0-12/css/all.css">
        <link rel="stylesheet" href="{% static 'main/css/style.css'%}">
        <link rel="stylesheet" href="{% static 'main/css/carousel.css'%}">
        <link rel="stylesheet" href="https://necolas.github.io/normalize.css/8.0.1/normalize.css">
	    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap" rel="stylesheet"> 
        <link rel="stylesheet" href="{% static 'main/css/estilos.css'%}">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
        <link rel="stylesheet" href="{% static 'main/css/flexboxgrid.css'%}">
        <link rel="stylesheet" href="{% static 'main/css/bootstrap.css'%}">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.0-12/css/all.css">
        <link rel="stylesheet" href="{% static 'main/css/style.css'%}">

    </head>
    <body>
      
        <div class="divtitle" id="conteiner-top">

            <div class="row color-nav middle-xs">
                <div class="col-xs-12 col-md-2 col-lg-2">
                    <img id="logo" src="{% static 'main/imagenes/Screenshot_1.png'%}" class="img-fluid" alt="logo" >
                </div>
                <div class="col-xs-12 col-sm-6 col-md-4 col-lg-8">
                    <ul>
                        <li>
                            <a href="{% url 'index' %}">Inicio -</a>
                            <a href="{% url 'Completos' %}">Completos -</a>
                            <a href="{% url 'Registro' %}">Registro -</a>
                            <a href="{% url 'login' %}">login</a>                            
                        </li>
                    </ul>
                </div>
                <nav class="navbar navbar-expand-md nav ">
                        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
                            <div class="navbar-nav">
                            </div>
                        </div>
                </nav>
                  
            </div>
        </div>

        {% block contenido %}

        {% endblock contenido %}



              <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
              <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
              <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
              <script src="{% static 'main/js/jquery-3.4.1.js'%}"></script>
              <script src="{% static 'main/js/jquery.validate.js'%}"></script>
              <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
              <script src="{% static 'main/js/bootstrap.js'%}" ></script>
              <script src="https://cdn.jsdelivr.net/npm/sweetalert2@8"></script>
              <script src="{% static 'main/js/formulario.js'%}"></script>
              <script src="{% static 'main/js/main.js'%}"></script>
              <script src="https://kit.fontawesome.com/2c36e9b7b1.js" crossorigin="anonymous"></script>
    </body>

</html>
